/**
 * general
 */
.canvas {
  height: 80vh;
  background-color: #f0f0f0;
}
.bjs-container {
  --default-fill-color: white;
  --default-stroke-color: black;
}
/**
 * dark mode
 */
.FLOWS-DARK {
  --color-flows-dark-background: #2b3035;
}
/**
 * custom colors
 */  
.FLOWS-DARK .canvas {
  background-color: var(--color-flows-dark-background);
}
.FLOWS-DARK .bjs-container {
  --default-fill-color: var(--color-flows-dark-background);
  --default-stroke-color: white;
}
.FLOWS-DARK .bjs-powered-by {
  color: white !important;
}
.FLOWS-DARK .djs-palette {
  --palette-background-color: #2b3035;
  --palette-entry-color: white;
}
/* Overwrite text color when using bpmn extension */
.djs-visual:not(.reset-bpmn-colors) > *:not([style*="stroke: var(--default-stroke-color);"]) + text {
  --default-stroke-color: black;
}
/* Reset BPMN Colors */
.djs-visual.reset-bpmn-colors rect,
.djs-visual.reset-bpmn-colors circle,
.djs-visual.reset-bpmn-colors polygon,
.djs-visual.reset-bpmn-colors path {
  fill: var(--default-fill-color) !important;
  stroke: var(--default-stroke-color) !important;
}
.djs-visual.reset-bpmn-colors text {
  fill: var(--default-stroke-color) !important;
}
/**
 * Highlighting: Completed
 */
.djs-visual.highlight-completed rect,
.djs-visual.highlight-completed circle,
.djs-visual.highlight-completed polygon,
.djs-visual.highlight-completed path {
  fill: var(--highlight-completed-fill) !important;
}
.djs-visual.highlight-completed rect,
.djs-visual.highlight-completed circle,
.djs-visual.highlight-completed polygon {
  stroke: var(--highlight-completed-border) !important;
}
.djs-visual.highlight-completed text {
  fill: var(--highlight-completed-label) !important;
}
.djs-visual.highlight-completed path {
  stroke: var(--highlight-completed-label) !important;
}
/**
 * Highlighting: Current
 */
.djs-visual.highlight-current rect,
.djs-visual.highlight-current circle,
.djs-visual.highlight-current polygon,
.djs-visual.highlight-current path {
  fill: var(--highlight-current-fill) !important;
}
.djs-visual.highlight-current rect,
.djs-visual.highlight-current circle,
.djs-visual.highlight-current polygon {
  stroke: var(--highlight-current-border) !important;
}
.djs-visual.highlight-current text {
  fill: var(--highlight-current-label) !important;
}
.djs-visual.highlight-current path {
  stroke: var(--highlight-current-label) !important;
}
/**
 * Highlighting: Error
 */
.djs-visual.highlight-error rect,
.djs-visual.highlight-error circle,
.djs-visual.highlight-error polygon,
.djs-visual.highlight-error path {
  fill: var(--highlight-error-fill) !important;
}
.djs-visual.highlight-error rect,
.djs-visual.highlight-error circle,
.djs-visual.highlight-error polygon {
  stroke: var(--highlight-error-border) !important;
}
.djs-visual.highlight-error text {
  fill: var(--highlight-error-label) !important;
}
.djs-visual.highlight-error path {
  stroke: var(--highlight-error-label) !important;
}



.instance-counter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 20px;
  width: 120px;
}
.instance-counter div {
  height: 20px;
  min-width: 12px;
  border-radius: 20px;
  text-align: center;
  padding: 0px 4px;
}
.instance-counter .completed {
  color: var(--highlight-completed-label);
  border: 1px solid var(--highlight-completed-border);
  background-color: var(--highlight-completed-fill)
}
.instance-counter .current {
  color: var(--highlight-current-label);
  border: 1px solid var(--highlight-current-border);
  background-color: var(--highlight-current-fill)
}
.instance-counter .error {
  color: var(--highlight-error-label);
  border: 1px solid var(--highlight-error-border);
  background-color: var(--highlight-error-fill)
}


.menu-options {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
}


#modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);

  font-family: sans-serif;
}

#modal-content {
  width: 750px;
  height: 500px;

  margin: auto;

  background-color: var(--default-fill-color);
  border: 1px solid var(--default-stroke-color);
}

#iteration-header {
  display: flex;
}

#iteration-search {
  background-color: var(--default-fill-color);
  color: var(--default-stroke-color);

  width: -webkit-fill-available;
  height: 20px;
  margin: 10px;
  padding: 10px;

  border: 1px solid var(--default-stroke-color);
}

#iteration-header button.fa-times {
  height: 40px;
  margin: 10px 10px 10px 0px;

  background-color: var(--default-fill-color);
  color: var(--default-stroke-color);

  border: 1px solid var(--default-stroke-color);
}

#iteration-list {
  width: 100%;
  
  color: var(--default-stroke-color);

  border-spacing: 10px;
}

#iteration-list th {
  text-align: left;
}

#iteration-list tr.clickable {
  cursor: pointer;
}

.bjs-crumb + .bjs-drilldown {
  margin-left: 8px;
}