/**
 * general
 */
.canvas {
  height: 80vh;
  background-color: #f0f0f0;
}
.bjs-container {
  --default-fill-color: white;
  --default-stroke-color: black;
}
/**
 * dark mode
 */
.FLOWS-DARK {
  --color-flows-dark-background: #2b3035;
}
/**
 * custom colors
 */  
.FLOWS-DARK .canvas {
  background-color: var(--color-flows-dark-background);
}
.FLOWS-DARK .bjs-container {
  --default-fill-color: var(--color-flows-dark-background);
  --default-stroke-color: white;
}
.FLOWS-DARK .bjs-powered-by {
  color: white !important;
}
.FLOWS-DARK .djs-palette {
  --palette-background-color: #2b3035;
  --palette-entry-color: white;
}
/* Overwrite text color when using bpmn extension */
.djs-visual:not(.reset-bpmn-colors) > *:not([style*="stroke: var(--default-stroke-color);"]) + text {
  --default-stroke-color: black;
}
/* Reset BPMN Colors */
.djs-visual.reset-bpmn-colors rect,
.djs-visual.reset-bpmn-colors circle,
.djs-visual.reset-bpmn-colors polygon,
.djs-visual.reset-bpmn-colors path {
  fill: var(--default-fill-color) !important;
  stroke: var(--default-stroke-color) !important;
}
.djs-visual.reset-bpmn-colors text {
  fill: var(--default-stroke-color) !important;
}
/**
 * Highlighting
 */
.djs-visual.add-highlighting rect,
.djs-visual.add-highlighting circle,
.djs-visual.add-highlighting polygon,
.djs-visual.add-highlighting path {
  fill: var(--highlight-fill) !important;
}
.djs-visual.add-highlighting rect,
.djs-visual.add-highlighting circle,
.djs-visual.add-highlighting polygon {
  stroke: var(--highlight-border) !important;
}
.djs-visual.add-highlighting text {
  fill: var(--highlight-label) !important;
}
.djs-visual.add-highlighting path {
  stroke: var(--highlight-label) !important;
}